# Entorno virtual
venv/

# Python
__pycache__/
*.pyc

# Logs
*.log

# VS Code
.vscode/

# OS
.DS_Store
Thumbs.db

# Archivos internos
scripts/
*.txt

# Mantener archivo de dependencias
!requirements.txt